.window{
    border-radius: 5px;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    width: 50%;
}

.window form {
    margin: 30px;
}

.window input{
    margin: 30px;
    width: 80%;
    font-size: 20px;
}

.window button{
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    padding: 10px;
    font-size: 20px;
}